body{
    background-color: #cecece;
    color: #000000;
}

#banner{
    align-content: center;
    width: 100%;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

/*Aplica este estilo em todo strong dentro de um em*/
em strong{
    color: red;
}
